/* src/components/DynamicButton.css */
 
.navigation {
  display: flex; 
  gap: 15px; 
} */


.nav-button-homepage :hover {
  background: #ddd; 
}

  .nav-button-homepage {
    color : #ffffff; 
    background: #020166;
    border: none; 
    border-radius: 5px; 
    padding: 8px 15px; 
    cursor: pointer; 
    font-size: 14px; 
   
  }
  .nav-button-favorites {
    color : #ffffff; 
    background: #020166; 
    /* border: none;  */
    border-radius: 5px;
    padding: 8px 15px; 
    cursor: pointer; 
    font-size: 14px; 
 
  }
 